@import (reference) '~antd/lib/style/themes/default.less';
@import (reference) 'variables';

.linear-gradient(@deg, @colorForm, @colorTo) {
    background-image: -webkit-linear-gradient(@deg, @colorForm, @colorTo);
    background-image: -moz-linear-gradient(@deg, @colorForm, @colorTo);
    background-image: -o-linear-gradient(@deg, @colorForm, @colorTo);
    background-image: linear-gradient(@deg, @colorForm, @colorTo);
}
