/*
 * @Editor: SiYuan Wang
 * @Date: 2019-08-30 15:17:36
 * @Description: index
 */
@import (reference) '~_.less';

.bread {
    position: relative;
    z-index: 99;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0 24px;
    background-color: white;
    border-bottom: solid 1px @mediumGrayColor;

    a[href] {
        color: @lightBlueColor;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 65px;
            height: 32px;
            margin: 0 0 0 20px;
            padding: 0 12px;
            font-size: 14px;
            line-height: 22px;
            border-radius: 4px;

            & > span {
                margin-left: 10px;
            }

            :global(.anticon) {
                height: 12px;
                font-size: 12px;
            }
        }
    }

    @media screen and (min-width: @screen-xxl-min) {
        padding: 0 calc(50% - 720px);
    }

    @media (max-width: 767px) {
        margin-bottom: 12px;
    }
}
