/*
 * @Author: siyuan.wang
 * @Date: 2021/2/24 9:58 AM
 * @Description: rose theme css variables
 */
html:root {
    --white: white;
    --black: black;
    --primary-color: #CE6D39;
    --primary-light-color: #F17F42;

    /* hover bg */
    --hover-bg-color: #FFEEE4;

    /* section */
    --section-border-color: #eee;

    /* breadcrumb */
    --breadcrumb-border-medium-color: #e8e8e8;

    /* antd wave */
    --antd-wave-shadow-color: var(--primary-light-color);

    /* layout container */
    --pure-layout-bg: #f5f5f5;
    --default-layout-bg: #f0f2f5;

    /* components - side menu */
    --side-bar-menu-bg: #000;
    --side-bar-inner-bg: #333;
    --side-bar-selected-bg: #CE6D39;
    --side-bar-nest-inner-bg: #333;
    --side-bar-logo-border-bottom-color: rgba(206, 109, 57, 0.3);
    --side-bar-text-color: var(--white);

    /* components - image previewer */
    --previewer-mask-bg: rgba(0, 0, 0, 0.9)
}

/* others antd class and colors */
.ant-btn:hover, .ant-btn:focus {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.ant-btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: var(--white) !important;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: var(--hover-bg-color) !important;
}

