/*
 * @Author: SiYuan Wang
 * @Date: 2019-08-31 10:41:20
 * @Description: index
 */

@import (reference) '~_.less';

@section-border-color: #eee;
:root {
    --section-border-color: #eee;
}

.container {
    background-color: white;
    box-shadow: 0 4px 10px @section-border-color;
    box-shadow: 0 4px 10px var(--section-border-color);

    .header {
        padding: 16px 24px;
        border-bottom: solid 1px @section-border-color;
        border-bottom: solid 1px var(--section-border-color);

        .title {
            margin: 0;
            .cfl(@theme-black, 16px, 24px);
            .cfl(var(--black), 16px, 24px);
        }
    }

    .inner {
        padding: 24px 32px;
    }
}
