/*
 * @Author: SiYuan Wang
 * @Date: 2019-11-14 16:35:51
 * @Description: global.less
 */

@import (reference) '~_.less';

/* base color variables */
:root {
    --black: black;
    --white: white;
    --theme-primary: #245dc1;
    --theme-primary-50: #538fff;
}

html,
body,
#root {
    height: 100%;
    color: @theme-black;
    color: var(--black);
}

body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    display: block;
}

ul,
ol {
    list-style: none;
}

@import './antd.fixed.less';
