@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@/resources/variables';

:root {
    /* font */
    --font: -apple-system, system-ui, 'PingFang SC', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica,
        'Hiragino Sans GB', Arial, sans-serif;
    --black: #333;
    --root-bg-color: #fff;
}

html,
body,
#root {
    height: 100%;
    color: #333;
    color: var(--black);
}

body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    font-size: 62.5%;
    font-family: $font;
    font-family: var(--font);
    line-height: 1.2;
    font-variant-numeric: tabular-nums;
}

#root {
    background-color: $root-bg-color;
    background-color: var(--root-bg-color);
}

canvas {
    display: block;
}

ul,
ol {
    list-style: none;
}

input,
select,
textarea,
button {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    outline-width: 0;
}

p {
    margin: 0;
}

// Remove tailwindcss reset svg tag
svg {
    vertical-align: unset;
}

@import './antd.fixed';
