/*
 * @Author: SiYuan Wang
 * @Date: 2019-11-14 16:35:51
 * @Description: global.less
 */

@import (reference) '~_.less';

html,
body,
#root {
    height: 100%;
    color: @blackColor;
}

.colorWeak {
    filter: invert(80%);
}

.ant-layout {
    min-height: 100vh;
}

canvas {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
    width: 100%;
    margin: 40px 0 !important;
}

ul,
ol {
    list-style: none;
}
