@import '../../../node_modules/antd/lib/style/themes/default.less';

.container {
    height: 100%;
    overflow: hidden;

    .container__inner {
        padding-top: 64px;
    }
}
.content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .content__inner {
        margin: 24px;
    }
}
